@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

[cmdk-list] {
  min-height: 300px;
  height: var(--cmdk-list-height);
  max-height: 500px;
  overflow-y: scroll;
  overscroll-behavior: contain;
  transition: height 100ms ease;
  scroll-padding-block-start: 8px;
  scroll-padding-block-end: 8px;
}

.w-md-editor-text-input {
  @apply bg-grayBgSubtle p-2 flex-1 w-full h-full text-grayTextContrast text-base;
  resize: none;
}
.w-md-editor > .w-md-editor-toolbar {
  @apply bg-grayBg flex w-full justify-between border border-grayBorder py-1 px-1 h-fit rounded-t !important;
}
.w-md-editor > .w-md-editor-toolbar > ul {
  @apply inline-flex;
}
.w-md-editor > .w-md-editor-toolbar > ul > li:not(:last-of-type) button {
  @apply mr-1;
}

.w-md-editor > .w-md-editor-toolbar > ul > li button {
  @apply text-grayText rounded-sm  p-2 hover:bg-grayBgHover hover:text-grayTextContrast transition;
}

.w-md-editor-preview {
  @apply bg-grayBgSubtle p-2 prose prose-neutral dark:prose-invert overflow-y-auto h-full;
}

.w-md-editor-preview a.anchor {
  display: none;
}

.w-md-editor-toolbar-divider {
  @apply w-0 border-r border-grayBorder mx-2 h-4 my-auto;
}

.w-md-editor-text {
  @apply flex h-full;
}

.w-md-editor-preview,
.w-md-editor-input {
  @apply flex-1 max-w-prose w-full;
}
.w-md-editor-text-pre {
  display: none;
}

.w-md-editor {
  max-width: calc(130ch + 3px);
}

code.not-prose:not(.language-KaTeX) {
  color: var(--tw-prose-pre-code);
  background-color: var(--tw-prose-pre-bg);
  font-weight: 400;
  font-size: 0.875em;

  border-radius: 0.375rem;
  @apply p-1.5 pb-1;
}

code.not-prose::after,
code.not-prose::before {
  content: "";
}

.w-md-editor-bar {
  display: none;
}

.w-md-editor-content {
  @apply grid grid-cols-2 justify-stretch divide-x divide-grayBorder border-grayBorder border border-t-0 rounded-b overflow-hidden !important;
}
.w-md-editor-toolbar-child {
  @apply bg-grayBg shadow-md rounded border border-grayBorder;
  display: none;
  position: absolute;
  z-index: 1;
}

.w-md-editor-toolbar-child.active {
  display: block;
}

.w-md-editor-toolbar-child li button {
  @apply text-grayText w-full rounded-sm  p-2 hover:bg-grayBgHover hover:text-grayTextContrast transition;
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 14px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

legend {
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
